In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
path = r"/Users/danielrosskopf/Documents/Familie/Daniel/01_Bank/Test.csv"

In [56]:
start=10
df = pd.read_csv(path,sep=";")
df.columns = [i[:-1] for i in df.columns]
df["Analyse-Fixkosten"]= [True if i == "ja" else False for i in df["Analyse-Fixkosten"]]
df["Betrag"] = [i[:-1] for i in df["Betrag"]]
df["Kontostand"] = [i[:-1] for i in df["Kontostand"]]
df["Analyse-Betrag"] = [i[:-1] for i in df["Analyse-Betrag"]]
df.index = range(start,start+df.shape[0])
df = df.reset_index()
df

,index,Datum,Art,Betrag,Kontostand,Buchungsart,Analyse-Hauptkategorie,Analyse-Unterkategorie,Analyse-Fixkosten,Analyse-Vertragsturnu,Analyse-Woch,Analyse-Monat,Analyse-Jahr,Analyse-Betrag
0,10,02.10.23,Condor Riester Rente,"-140,00","8.943,93",Ausgabe,Versicherung,Vorsorge,True,monatlich,2023-41,2023-10,2023,"140,00"
1,11,02.10.23,Fitnesstudio: GetFit,"-34,90","8.909,03",Ausgabe,Hobby,Sport,True,monatlich,2023-41,2023-10,2023,"34,90"
2,12,02.10.23,Paypal,"-67,49","8.841,54",Ausgabe,Leben,Konsum,False,NaN,2023-41,2023-10,2023,"67,49"
3,13,02.10.23,Streaminganteil Tobias,"-15,00","8.826,54",Ausgabe,Leben,Konsum,True,monatlich,2023-41,2023-10,2023,"15,00"
4,14,02.10.23,Gehalt BÃ¤ldleschwaige,"132,96","8.959,50",Einnahme,Lohn,Nebenjob,False,NaN,2023-41,2023-10,2023,"132,96"
5,15,04.10.23,Alte Leipziger BU,"-59,87","8.899,63",Ausgabe,Versicherung,Vorsorge,True,monatlich,2023-41,2023-10,2023,"59,87"
6,16,05.10.23,Barclays Card,"-472,74","8.426,89",Ausgabe,Kreditkarte,NaN,False,NaN,2023-41,2023-10,2023,"472,74"
7,17,10.10.23,Paypal,"-7,99","8.418,90",Ausgabe,Leben,Konsum,False,NaN,2023-42,2023-10,2023,"7,99"
8,18,10.10.23,Paypal,"-12,99","8.405,91",Ausgabe,Leben,Konsum,False,NaN,2023-42,2023-10,2023,"12,99"
9,19,11.10.23,Deutschland Ticket,"-49,00","8.356,91",Ausgabe,Leben,Konsum,False,NaN,2023-42,2023-10,2023,"49,00"
10,20,13.10.23,Scalable Capital,"-700,00","7.656,91",Umbuchung,Sparen,Aktien,True,monatlich,2023-42,2023-10,2023,"700,00"
11,21,26.10.23,Sparplan Daniel,"-20,00","7.636,91",Umbuchung,Sparen,Konto,True,monatlich,2023-44,2023-10,2023,"20,00"
12,22,26.10.23,Trade Republic,"-1.500,00","6.136,91",Umbuchung,Sparen,Aktien,True,monatlich,2023-44,2023-10,2023,"1.500,00"
13,23,27.10.23,Gehalt Grenzebach,"2.997,01","9.133,92",Einnahme,Lohn,Hauptjob,False,NaN,2023-44,2023-10,2023,"2.997,01"
14,24,31.10.23,Streaminganteil Tobias,"-15,00","9.118,92",Ausgabe,Leben,Konsum,True,monatlich,2023-45,2023-10,2023,"15,00"
15,25,31.10.23,KontofÃ¼hrungsgebÃ¼hren,"-4,90","9.114,02",Ausgabe,Bank,Abgabe,True,monatlich,2023-45,2023-10,2023,"4,90"